body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.book-summary{
  background-color: #ddd;
  border: 1px solid black;
  padding: 1rem;
  margin: 1rem;
}